@font-face {
  font-display: fallback;
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/Iosevka-Oblique.woff2") format("woff2");
}

body {
  --background-gradient-from: #111111;
  --background-gradient-to: #000000;
  --background-gradient-size: 1.5vw;
  align-items: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(
      circle at center center,
      var(--background-gradient-from),
      var(--background-gradient-to)
    ),
    repeating-radial-gradient(
      circle at center center,
      var(--background-gradient-from),
      var(--background-gradient-from),
      var(--background-gradient-size),
      transparent calc(var(--background-gradient-size) * 2),
      transparent var(--background-gradient-size)
    );
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.characters {
  font-family: "Iosevka", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 9vw;
  text-transform: uppercase;
  transform: translateY(0.125em);
}

@keyframes character-transform {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.25em);
  }
}

@keyframes character-color {
  0% {
    color: #ff0000;
  }
  6.67% {
    color: #ff4500;
  }
  13.33% {
    color: #ff8c00;
  }
  20% {
    color: #ffd700;
  }
  26.67% {
    color: #adff2f;
  }
  33.33% {
    color: #32cd32;
  }
  40% {
    color: #00ff7f;
  }
  46.67% {
    color: #00ffff;
  }
  53.33% {
    color: #00bfff;
  }
  60% {
    color: #0080ff;
  }
  66.67% {
    color: #4169e1;
  }
  73.33% {
    color: #8a2be2;
  }
  80% {
    color: #9400d3;
  }
  86.67% {
    color: #ff00ff;
  }
  93.33% {
    color: #ff1493;
  }
  100% {
    color: #ff0000;
  }
}

.character {
  animation-name: character-transform, character-color;
  animation-duration: 1s, 3s;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: ease-in-out, linear;
  animation-direction: alternate, normal;
  animation-delay: calc(var(--character-index) * -0.05s),
    calc(var(--character-index) * -0.2s);
  display: inline-block;
  will-change: transform, color;
}

/*

.character:nth-child(1) {
  color: #ff0000;
}
.character:nth-child(2) {
  color: #ff4500;
}
.character:nth-child(3) {
  color: #ff8c00;
}
.character:nth-child(4) {
  color: #ffd700;
}
.character:nth-child(5) {
  color: #adff2f;
}
.character:nth-child(6) {
  color: #32cd32;
}
.character:nth-child(7) {
  color: #00ff7f;
}
.character:nth-child(8) {
  color: #00ffff;
}
.character:nth-child(9) {
  color: #00bfff;
}
.character:nth-child(10) {
  color: #0080ff;
}
.character:nth-child(11) {
  color: #4169e1;
}
.character:nth-child(12) {
  color: #8a2be2;
}
.character:nth-child(13) {
  color: #9400d3;
}
.character:nth-child(14) {
  color: #ff00ff;
}
.character:nth-child(15) {
  color: #ff1493;
}

*/
